#about-section {
    background-color: var(--sub-secondary-color);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.about-content {
    display: flex;
    gap: 20px;
    width: 80%;
}

.about-image {
    width: 50%;
}

.about-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.about-text header {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    height: 55px;
}

header label {
    height: 100%;
    width: 30%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

header label:nth-child(2) {
    width: 40%;
}

#mission:checked ~ header .mission,
#about:checked ~ header .about,
#vision:checked ~ header .vision {
    color: var(--sub-secondary-color);
}

header .slider {
    position: absolute;
    height: 85%;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: inherit;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

#mission:checked ~ header .slider {
    left: 9%;
    width: 125px;
    transform: translateX(-5%);
}

#about:checked ~ header .slider {
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}

#vision:checked ~ header .slider {
    left: 89%;
    width: 115px;
    transform: translateX(-85%);
}

.about-text input[type='radio'] {
    display: none;
}

.cards-area {
    overflow: hidden;
}

.cards-area .cards {
    display: flex;
    width: 300%;
}

.cards .card {
    padding: 10px;
    width: 33.33333333333333%;
}

.card .mission-card {
    transition: all 0.3s ease;
}

#mission:checked ~ .cards-area .cards .mission-card {
    margin-left: 0%;
}

#about:checked ~ .cards-area .cards .mission-card {
    margin-left: -33.33333333333333%;
}

#vision:checked ~ .cards-area .cards .mission-card {
    margin-left: -66.66666666666666%;
}
