.footer {
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	width: 80%;
}

.footer-img {
	width: 100px;
	height: 100px;
}

.footer-img img {
	width: 100%;
	height: 100%;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
	font-size: 1.5rem;
	width: 50%;
	line-height: 2.5rem;
}

.awesam {
	color: var(--secondary-color);
	font-weight: 600;
}

.footer-nav {
	list-style: none;
	font-size: 1.5rem;
}

.footer-nav li {
	margin: 10px 0;
}

.footer-nav li a {
	color: #fff;
	text-decoration: none;
}

.footer-nav li a:hover {
	color: var(--secondary-color);
}