:root {
  --primary-color: #2b1055;
  --sub-primary-color: #710462;
  --complimentary-color: #b7003f;
  --secondary-color: #fb4321;
  --sub-secondary-color: #ffb427; 
  --primary-gradient: linear-gradient(to bottom right, #2b1055, #710462);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
}